{% extends 'core/base.html' %} {% block content %} {% comment %} container start
{% endcomment %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">Education</h1>
  {% comment %} create row {% endcomment %}
  <div class="row text-white mb-5">
    {% comment %} create column in that row {% endcomment %}
    <div class="col-sm-4">
      <i class="fas fa-graduation-cap fa-2x mb-3 i-color"></i>
      <h3 class=" text-color">Bhagwan Vidyalaya Beed</h3>
      <p class="ss-color">SSC <br />marks-88 %</p>
    </div>
    {% comment %} same column we get here {% endcomment %}
    <div class="col-sm-4">
      <i class="fas fa-graduation-cap fa-2x mb-3 i-color"></i>
      <h3 class=" text-color">K.S.K College Beed</h3>
      <p class="ss-color">HSC <br />Marks-79.54 %</p>
    </div>
    <div class="col-sm-4">
      <i class="fas fa-graduation-cap fa-2x mb-3 i-color"></i>
      <h3 class=" text-color">G H Raisoni College Of Engineering Nagpur</h3>
      <p class="ss-color">
        BE in Information Technology <br />
        Marks-77.2 %
      </p>
    </div>
  </div>
  {% comment %} this is container close {% endcomment %}
</div>

{% comment %} this is for another block {% endcomment %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">Internship</h1>
  {% comment %} create row {% endcomment %}
  <div class="row text-white mb-5">
    {% comment %} create column in that row {% endcomment %}
    <div class="col-sm-4">
      <i class="fas fa-user-graduate fa-2x mb-3 i-color"></i>
      <h3 class=" text-color">BSNL Training Centre,CTTC Nashik.</h3>
      <p class="ss-color">
        One Month Internship: <br />Gained insightful learning experience of a
        base station and a mobile station. Analyzed different polices of GSM and
        CDMA technology. Gathered information about broadband network and
        advanced technologies like fiber optics as well as Intelligent networks.
      </p>
    </div>
    {% comment %} same column we get here {% endcomment %}
    <div class="col-sm-4">
      <i class="fas fa-graduation-cap fa-2x mb-3 i-color"></i>
      <h3 class=" text-color">Hind Software Pvt. Ltd. Nagpur.</h3>
      <p class="ss-color">Six Months Internship: <br />Learning outcome:
       Designed the AllwebstoreApp web based management application which is 
       assigned by the company.
       Technologies like Python, Django,JavaScript, MySQL, HTML, CSS,
        are learned.</p>
    </div>
    
  </div>
  {% comment %} this is container close {% endcomment %}
</div>

{% comment %} This is for project {% endcomment %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">Projects</h1>
  {% comment %} create row {% endcomment %}
  <div class="row text-white mb-5">
    {% comment %} create column in that row {% endcomment %}
    <div class="col-sm-4">
      <i class="fas fa-laptop-code fa-2x mb-3 i-color"></i>
      <h3 class=" text-color">Soil health card and crop recommendation portal for farmers</h3>
      <p class="ss-color">Tchnology- Python,Django and SQL <br />Details: 
      This portal will help farmers to get knowledge of soil
       nutrients of their farm and crop will be recommended
        as per their soil health card.</p>
    </div>
    {% comment %} same column we get here {% endcomment %}
   
  </div>
  {% comment %} this is container close {% endcomment %}
</div>

{% endblock content %}
