{% extends 'core/base.html' %} {% load static %} {% block content %}
<div >
  <div class="text-center">
  <img
    src=" {% static 'core/images/amol.jpg' %} "
    alt="profile pic"
    class="img-thumbnail mt-5"
    width="200px"
    height="100px"
  />
  </div>
  <div class="mt-5 text-white mx-5 text-justify ">
    <h1 class="font-weight-bold st-font">Hello,</h1>
    <div class="px-4" style="line-height:2rem;">
      <p style="text-indent: 100px">
        I <b class="text-warning"> Amol Prabhakar Sanap</b> A value driven and
        experienced software engineering graduate, with versatility in roles of
        software development while managing and working with various tools and
        programming languages that includes<b class="text-warning"> C, C++, Python, Web development
        frameworks such as Django , Databases such as SQL.</b>
      </p>
      <p>
        Having an experience of 1 year while working with 2 startups during the
        learning journey. I see myself as a software developer capable to lead
        diversified teams across various domains.
      </p>
    </div>
  </div>
 <div class="text-center">
  <a href=" {% url 'contact' %} " class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
  <a href="{% url 'contact' %} " class="btn btn-outline-info my-3 mx-5">Contact</a>
 </div>
</div>
{% endblock content %}
